<html>
   <head>
    <body>
      <form action="/insertproducts" method="post">
        ProductId : <input type="text" name="pid" id="pid">
        ProductName : <input type="text" name="pname" id="pname">
        ProductQuantity : <input type="text" name="pquanti" id="pquanti">
        <button type="submit" id="btn" name="btn" value="addproducts">Add Products</button>
      </form>

    </body>
   </head>
</html>