<html>
    <head>
        <body>
            <form action="/updateproductdetails" method="post">
                ProductId : <input type="text" name="pid" id="pid"value="<%=prod.pid%>" readonly>
                Enter New ProductName : <input type="text" name="name" id="name">
                Enter New Quantity : <input type="text" name="quanti" id="quanti">
                <button id="btn" name="btn" value="btn">Update Product Details</button>
            </form>
        </body>
    </head>
</html>